pip>=23.0.1
numpy>=1.22.3
pandas>=1.4.2
plotly>=5.7.0
python-dotenv>=0.20.0
scipy>=1.8.0
streamlit>=1.8.1
toml>=0.10.2
xlrd>=2.0.1
openpyxl>=3.0.9
wordcloud>=1.8.2.2
altair>=4.2.0
scikit-learn>=1.2.1
seaborn>=0.12.2
